@media (min-width: 468px) {
  .row1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .row6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

body {
  background-color: #c8cdcf;
  color: #575555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

#header-title {
  color: #4caf91;
  font-size: 60px;
  text-align:center;
  margin-top: auto;
  margin-bottom: 30px;
  
}

#main-header {
  /* background-color: rgb(0, 140, 255); */
  height: 160px;
  margin-top: auto;
  text-align: center;
  background-color: #7a7979;
  background-position: center;
}

#game-controls{
  text-align: center;

}

/* GAME CONTROLS */


.selector {
  font-size: 20px;
  border-radius: 4px;
}
.start-button {
  background-color: #4caf91; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 4px;
}
.reset-button {
  background-color: #4caf91; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 4px;
}


.tier-1,
.tier-2,
.tier-3 {
  visibility: hidden;
}

.h2{
visibility: hidden;
margin-top: 120px;
font-size: xx-large;
text-align: center;
}
